<h1>Unofficial HearthStone Card App</h1>
<div class="wrapper">
  <div class="sidebar">
    <label for="rarities" class="input-title">Rarities</label>
    <select form="search" id="rarities" name="rarities" multiple>
      {{#each rarities}}
        <option value={{this.type}} {{#if this.selected}}selected{{/if}}>{{titleCaseWord this.type}}</option>
      {{/each}}
    </select>
    <label for="types" class="input-title">Types</label>
    <select form="search" id="types" name="types" multiple>
      {{#each types}}
        <option value={{this.type}} {{#if this.selected}}selected{{/if}}>{{titleCaseWord this.type}}</option>
      {{/each}}
    </select>
    <label for="classes" class="input-title">Classes</label>
    <select form="search" id="classes" name="classes" multiple>
      {{#each classes}}
        <option value={{this.type}} {{#if this.selected}}selected{{/if}}>{{titleCaseWord this.type}}</option>
      {{/each}}
    </select>
    <label for="tribes" class="input-title">Tribes</label>
    <select form="search" id="tribes" name="tribes" multiple>
      {{#each tribes}}
        <option value={{this.type}} {{#if this.selected}}selected{{/if}}>{{titleCaseWord this.type}}</option>
      {{/each}}
    </select>
    <label for="sets" class="input-title">Sets</label>
    <select form="search" id="sets" name="sets" multiple>
      <optgroup label="Standard Sets">
      {{#each standardSets}}
        <option value={{this.type}} {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
      {{/each}}
      </optgroup>
      <optgroup label="Wild Sets (Standard Sets above can also be used in Wild)">
        {{#each wildSets}}
          <option value={{this.type}} {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
        {{/each}}
      </optgroup>
    </select>
    <label for="mechanics" class="input-title">Mechanics</label>
    <select form="search" id="mechanics" name="mechanics" multiple>
      {{#each mechanics}}
        <option value={{this.type}} {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="search-wrapper">
    <form action="/submit" method="post" id="search" role="search" class="search-form">
      <!-- <label for="card-search-input">Search for Cards</label> -->
      <input type="search" id="card-search-input" class="search-input" name="search" value="{{searchTerm}}">
      <button type="submit" class="search-button">Search</button>
    </form>
      {{#if this.searchError}}
        <div class="search-error">{{this.searchError}}</div>
      {{/if}}
      <div class="results">
        {{#each matchingCards}}
          <img src="https://art.hearthstonejson.com/v1/render/latest/enUS/256x/{{this.id}}.png" alt="{{this.name}}" class="card-image">
        {{/each}}
    </div>
  </div>
</div>